<h1>一覧</h1>
<%= link_to "", new_mc_path, class: "fas fa-plus fa-2x" %>
<div>
 <% @mcs.each do |mc| %>
 <div>
  <%= form_with model:@take,url: mc_take_out_path(mc), local: true do |f| %>
   <%= f.text_field :name %>
   <%= f.text_field :take %>
   <%= f.submit "取り出し"%>
  <% end %>
  <%= mc.item_name %>
  <%= mc.quantity %>
  <%= link_to "編集", edit_mc_path(mc) %>
 </div>
 <% end %>
</div>